.create-account input{
	background: transparent;
	border: none;
}
.nav-tabs>li{
	a{padding: 10px 10px;}

}
.nav-tabs>li.nav-item>a{
	background: #42bb48;
	color: white;
	font-weight: bold;
}

.nav-tabs>li.active>a.active{
	background: transparent;
	color: #42bb48;
	border-bottom-color:#42bb48;
	
}
#id_sexo{
	list-style:none;
	margin: 0;
	padding:0;
	li{display:inline-block; padding-left: 10px;}

}
.mt-radio{
	padding-left:22px;
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox{
	margin-left: 30px;
	padding-top:5px;
}
.indicadores .btn{
	white-space: normal;
	margin-top:10px;
}
.font-green-steel{
	color: #3a54a5 !important;

}
.v-aling{
	display: table-cell;
	vertical-align: middle;
}
.btn-icon-only>[class^=icon-], .btn-icon-only>i{
	margin-top:5px;
	font-weight:bold;
}
.portlet.box.green>.portlet-title>.actions .btn-default{
	border:1px solid white;
}
.portlet.light .btn.btn-circle.btn-icon-only.btn-default:hover, .portlet.light .btn.btn-circle.btn-icon-only.btn-default.active{
	border:2px solid white;
}
.portlet.light .btn.btn-circle.btn-icon-only.btn-default > i{
	color:white;
}
.portlet.box.green>.portlet-title, .portlet.green, .portlet>.portlet-body.green{
	background:#3a54a5 !important;
}
.theme-panel{
	min-width:160px;
	h3{
		font-size: 16px;
		font-weight: bold;
		color: #757373;
	}

}
.theme-color a{
	display:block;
	padding:8px 12px;
}
.theme-color a:hover{
	text-decoration: none;
	color: white;
}
.theme-panel .theme-colors > li.theme-color{
	padding: 0;
}
.theme-panel .theme-colors > li.theme-color:hover{
	background: #3954a5;
	
}
.titulo-page{
	border-bottom: 1px solid #eee;
}
.btn-theme-panel.open .btn{
	opacity: 0.6;
}

.btn-theme-panel.open .dropdown-toggle{
	opacity: 1;
}


.btn-theme-panel .filtros:not(.collapsed){
	opacity: 1;
}
.list-filtro{
	li{
		color: #383838;
		padding:5px;
		b{
			color: #2d8031;		
		}
		i{
			color: #2d8031;
		}
	}

}
.select2-container{
	min-width:200px;
}
.select2-container .select2-selection--single{
	height:34px;
	
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 34px;

}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	top:60%;
}
.profile-usertitle{
	text-align: left;
}
.tabbable-line>.nav-tabs>li>a{
	padding: 19px 10px;
}
.profile-usermenu{
	margin-top: 0px;
}
.profile-usermenu ul li{
	border-left:1px solid #f0f4f7;
	border-right:1px solid #f0f4f7;
	a{
		color: #3279b5;
	}
}
.profile-stat-text{
	color: #3279b5;
}
.profile-usermenu ul li:first-child{
	border-top: 1px solid #f0f4f7;
}
.profile-usermenu ul li:last-child{
	border-bottom: 1px solid #f0f4f7;
}
.portlet-title .caption-subject{
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
}
.profile-stat .border{
	border: 1px solid #f0f4f7;
}
.profile-stat{
	border-bottom: 0px;
}
.profile-usertitle-name{
	margin-bottom: 20px;
    margin-top: 10px;
}
.small-table thead tr th{
	font-size: 13px;
}
.portlet.box>.portlet-special{
	padding: 5px;
}
.profile-list ul li a{
	font-size:15px;
}
.portlet.blue, .portlet.box.blue>.portlet-title, .portlet>.portlet-body.blue{
	background-color: #3a54a5;
}
.font-purple{
	color: #e26a6a!important;
}
.page-head .page-title > h1{
	font-size: 16px;
}
.page-logo h3{
	font-size: 17px;
}
.interteam-logo{
	width: 55%;
}
.list-line li{
	list-style-type: none;
}
.page-head > .container, .titulo-page, .filtros{
	background: white;
}
.titulo-page{
	border-bottom:1px solid #eee;
}
.btn-theme-panel .btn > i, .btn-theme-panel .btn{
	font-size: 16px;
	font-weight: bold;
	color: #333;

}
.btn-theme-panel{
	margin-top:15px;
}

@media (max-width: 991px){
	.page-header .page-header-menu .hor-menu .navbar-nav{
		margin-bottom: 5px !important;
	}
}


@media only screen and (max-width: 768px){
	.flip-scroll tbody tr{
		border-right: 1px solid #ddd;
		text-align:center;
	}
	.interteam-logo{
		width: 100%;
	}
	.xs-margin .input-group{
		margin: 10px 0px;
	}
}