{% extends "frontend/base.html" %}

{% block extra_head %}
<link href="/static/pages/css/profile.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/plugins/select2/css/select2-bootstrap.min.css">
{% endblock extra_head %}

{% block content %}
<div class="page-wrapper-row full-height">
	<div class="page-wrapper-middle">
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<!-- BEGIN CONTENT BODY -->
				<!-- BEGIN PAGE HEAD-->
				<div class="page-head">
                    <div class="titulo-page">
                    	<div class="container">
                    		<!-- BEGIN PAGE TITLE -->
                    		<div class="page-title">
                    			<h1>Datos Familiares
                    				<!-- <small>dashboard & statistics</small> -->
                    			</h1>
                                
                    		</div>
                    		<!-- END PAGE TITLE -->
                    		<!-- BEGIN PAGE TOOLBAR -->
                    		<div class="page-toolbar">
                    			<!-- BEGIN THEME PANEL -->
                    			{% if consulta == 1 %}
	                    			<div class="portlet-title tabbable-line">	
														
	                    				<ul class="nav nav-tabs">
											<li class="active">
												<a href="#personales" data-toggle="tab">Datos Personales</a>
											</li>
											<li>
												<a href="#familia" data-toggle="tab">Datos Familiares</a>
											</li>
											<li>
												<a href="#propiedad" data-toggle="tab">Propiedad</a>
											</li>
											<li>
												<a href="#produccion" data-toggle="tab">Producción</a>
											</li>
											<li>
												<a href="#organizacion" data-toggle="tab">Organización</a>
											</li>
										</ul>
									</div>
								{% endif %}
                    			<!-- END THEME PANEL -->
                    		</div>
                    		<!-- END PAGE TOOLBAR -->

                    	</div>
                    </div>
                    
                </div>
				<!-- BEGIN PAGE CONTENT BODY -->
				<div class="page-content">
					<div class="container">
						<!-- BEGIN PAGE BREADCRUMBS -->
						<ul class="page-breadcrumb breadcrumb">
							<li>
								<a href="/">Inicio</a>
								<i class="fa fa-circle"></i>
							</li>
							<li>
								<a href="#">Perfil</a></i>
							</li>
						</ul>
						<!-- END PAGE BREADCRUMBS -->
						<!-- BEGIN PAGE CONTENT INNER -->
						<div class="page-content-inner">
							<div class="row">
								<div class="col-md-12">
									
									<!-- PORTLET MAIN -->
									<div class="portlet light">
										<div class="portlet-title">
											<div class="row">
												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
													<div class="caption font-red-sunglo">
														
														<h4 class="caption-subject bold uppercase"><i class="icon-user font-red-sunglo"></i> Perfil afiliados</h4>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
													<form class="form-inline" role="form" action="." method='GET'>
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-search font-red"></i>
															</div>
															<select class="form-control js-example-basic-multiple " name="afiliado">
																<option value=""></option>
																	{% for obj in afiliados %}
																		<option value="{{obj.id}}" >{{obj.nombre}}</option>
																	{% endfor %}
															</select>
															<span class="input-group-btn">
														        <button type="submit" name="consulta" value="Consultar" class="btn btn-default green">Consulta</button>
														    </span>
														</div>
														
														
													</form>
												</div>
											</div>
										</div>
										<div class="tab-content">
											{% if consulta == 1 %}
											<!-- PERSONAL TAB -->
											<div class="tab-pane active" id="personales">
												
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<div class="profile-usertitle-name">				
															{{afiliado.nombre}} 
														</div>
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
														<!-- SIDEBAR USER TITLE -->
														<!-- SIDEBAR MENU -->
														<div class="profile-usermenu">
															<ul class="nav nav-pills nav-stacked">


																<li>
																	<a><i class="fa fa-map-marker"></i> 
																	Departamento: {{afiliado.municipio.departamento}}</a>
																</li>
																<li>
																	<a><i class="fa fa-map-marker"></i> 
																	Municipio: {{afiliado.municipio.nombre}}</a>
																</li>
																<li>
																	<a>
																		<i class="fa fa-map-marker"></i> 
																		Comunidad: {{afiliado.comunidad.nombre}}
																	</a>
																</li>
																<li>
																	<a >
																		{% if afiliado.sexo == 'Masculino' %}
																			<i class="fa fa-mars"></i>
																		{% else %}
																			<i class="fa fa-venus"></i>
																		{% endif %}
																		Sexo: {{afiliado.sexo}}
																	</a>
																</li>
																<li>
																	<a > <i class="fa fa-legal"></i> Estado civil: {{estado_civil}} </a>
																</li>
																
																<li>
																	<a > <i class="fa fa-calendar"></i> Ingreso: {{afiliado.anio_ingreso}} </a>
																</li>
																 
															</ul>
														</div>
														<!-- END MENU -->
														<!-- END SIDEBAR USER TITLE -->
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
														<!-- SIDEBAR MENU -->
														<div class="profile-usermenu">
															<ul class="nav nav-pills nav-stacked">
																<li>
																	<a>
																		<i class="fa fa-graduation-cap"></i> 
																		Escolaridad: {{escolaridad}}
																	</a>
																</li>
																<li>
																	<a><i class="fa fa-credit-card"></i> 
																	Cédula: {{afiliado.cedula}}</a>
																</li>
																<li>
																	<a>
																		<i class="fa fa-map-marker"></i> 
																		 Lugar de nacimiento: Lugar
																	</a>
																</li>
																<li>
																	<a>
																		<i class="fa fa-birthday-cake"></i> 
																		 Fecha de nacimiento: {{afiliado.fecha_nacimiento}} ({{afiliado.edad}} años)
																	</a>
																</li>

																<li>
																	<a>
																		<i class="fa fa-phone"></i> Télefoono: {{afiliado.numero_celular}} ({{afiliado.tipo_celular}})
																	</a>
																</li>
																
																<li>
																	<a > <i class="fa fa-wifi"></i> Acceso a internet: {{acceso_internet}} </a>
																</li>

															</ul>
														</div>
														<!-- END MENU -->
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
														<div class="portlet-title">
															<div class="caption caption-subject font-red-sunglo text-center">

																Personas que dependen del afiliado
															</div>

														</div>
														<!-- STAT -->
														<div class="list-separated profile-stat">
															<div class="row">
																<div class="col-md-6 col-sm-4 col-xs-6 border">
																	<div class="uppercase profile-stat-title"> {{hombres|default:"0"}} </div>
																	<div class="uppercase profile-stat-text"> Hombres Adultos </div>
																</div>
																<div class="col-md-6 col-sm-4 col-xs-6 border">
																	<div class="uppercase profile-stat-title"> {{mujeres|default:"0"}} </div>
																	<div class="uppercase profile-stat-text"> Mujeres Adultas </div>
																</div>
																<div class="col-md-6 col-sm-4 col-xs-6 border">
																	<div class="uppercase profile-stat-title"> {{ninos|default:"0"}} </div>
																	<div class="uppercase profile-stat-text"> Niños menores de 12 años</div>
																</div>
																<div class="col-md-6 col-sm-4 col-xs-6 border">
																	<div class="uppercase profile-stat-title"> {{ninas|default:"0"}} </div>
																	<div class="uppercase profile-stat-text"> Niñas menores de 12 años </div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
											</div>
											<!-- FAMILIA TAB -->
											<div class="tab-pane" id="familia">
												<ul class="nav nav-tabs" id="myTab" role="tablist">
													{% for key in years.keys %}
													<li class="nav-item">
														<a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{key}}-generales" role="tab">{{key}}</a>
													</li>
													{% endfor %}

												</ul>

												<!-- Tab panes -->
												<div class="tab-content">
													{% for key,value in years.items  %}
													<div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{key}}-generales" role="tabpanel">
														<!--Acceso internet:  <br>
														Estado civil: {{value.0.0.1|default:"---"}}
														<br>
														Escolaridad: {{value.0.0.2|default:"---"}}
														<br>
														Profesión: {{value.0.0.3|default:"---"}}
														<br> -->
														<div class="portlet box green">
															<div class="portlet-title">
				                                                <div class="caption">
				                                                    <i class="fa fa-list"></i>Miembros de la familia
				                                                </div>
				                                                <div class="actions">
				                                                    <a class="btn btn-circle btn-icon-only btn-default" href="">
				                                                        <i class="icon-cloud-download"></i>
				                                                    </a>

				                                                </div>
				                                            </div>
				                                            <div class="portlet-body flip-scroll">
																<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																	<thead>
																		<tr>
																			<th>Nombre</th>
																			<th>Sexo</th>
																			<th>Edad</th>
																			<th>Escolaridad</th>
																			<th>Parentesco</th>
																		</tr>
																	</thead>
																	<tbody>
																		{% for x in value.1 %}
																		<tr>
																			<td>{{x.0}}</td>
																			<td>{{x.1}}</td>
																			<td>{{x.2}}</td>
																			<td>{{x.3}}</td>
																			<td>{{x.4}}</td>
																		</tr>
																		{% endfor %}

																	</tbody>
																</table>
															</div>
														</div>
														<div class="portlet box green">
															<div class="portlet-title">
				                                                <div class="caption">
				                                                    <i class="fa fa-list"></i>Miembros de la familia emigran
				                                                </div>
				                                            </div>
				                                        	<div class="portlet-body flip-scroll">
				                                        		<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																	<thead>
																		<tr>
																			<th>Hombres</th>
																			<th>Mujeres</th>
																			<th>Donde</th>
																			<th>Tiempo</th>
																			<th>Meses</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>{{value.2.0.0|default:"0"}}</td>
																			<td>{{value.2.0.1|default:"0"}}</td>
																			<td>{{value.2.0.2|default:"---"}}</td>
																			<td>{{value.2.0.3|default:"---"}}</td>
																			<td>{{value.2.0.4|default:"---"}}</td>
																		</tr>
																	</tbody>
				                                        		</table>
				                                        	</div>
				                                        </div>
													</div>


													{% endfor %}
												</div>

												<!-- END PERSONAL INFO TAB -->

											</div>
											<!-- PROPIEDAD TAB -->
											<div class="tab-pane" id="propiedad">

												<ul class="nav nav-tabs" id="myTab" role="tablist">
													{% for key in years.keys %}
													<li class="nav-item">
														<a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{key}}" role="tab">{{key}}</a>
													</li>
													{% endfor %}

												</ul>

												<!-- Tab panes -->
												<div class="tab-content">
													{% for key,value in years.items  %}
													<div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{key}}" role="tabpanel">
														<div class="row">
															<div class="col-sm-6">
																<div class="portlet box blue ">
																	<div class="portlet-title">
																		<div class="caption">

																			<span class="caption-subject bold uppercase">Área de la finca (Mz)</span>

																		</div>
																	</div>

																	<div class="portlet-body">

																		<div class="map">
																			<div class="grafico-ind" id="area{{key}}" width='100%'></div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="portlet box blue ">
																	<div class="portlet-title">
																		<div class="caption">

																			<span class="caption-subject bold uppercase">Otras áreas de la finca (Mz)</span>

																		</div>
																	</div>

																	<div class="portlet-body">

																		<div class="map">
																			<div class="grafico-ind" id="otras{{key}}" width='100%'></div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="profile-usermenu profile-list">
																	<ul class="nav nav-pills nav-stacked">
																		<li>
																			<a>
																				<b>Origen de la propiedad:</b> {{value.5.0|default:"---"}}
																			</a>
																		</li>
																		<li>
																			<a><b>Propiedad legalizada:</b> {{value.6.0|default:"---"}}</a>
																		</li>
																		{% if value.7 %}
																		<li>
																			<a>
																				<b>Documento:</b> {{value.7.0|default:"---"}}
																			</a>
																		</li>
																		{% endif %}
																		<li>
																			<a>
																				<b>Sistema de agua utilizado y consumo:</b>
																				{% if value.8 %}
																					{% for x in value.8 %}
																						{{x}},
																					{% endfor %}
																				{% else %}
																				---
																				{% endif %}
																			</a>
																		</li>
																		
																		<li>
																			<a > <b>Acceso a energía eléctrica:</b> {{value.9.0|default:"---"}} </a>
																		</li>
																		<li>
																			<a > <b>Infraestructura:</b> 
																				{% if value.8 %}
																				{% for x in value.12 %}
																				{{x}},
																				{% endfor %}
																				{% else %}
																				---
																				{% endif %}
																			</a>
																		</li>
																		<li>
																			<a > <b>Contrata mano de obra:</b> {{value.10.0|default:"---"}} </a>
																		</li>
																		 

																	</ul>
																</div>

															</div>
															<div class="col-sm-6">
																<div class="portlet box green">
																	<div class="portlet-title">
						                                                <div class="caption">
						                                                    <i class="fa fa-list"></i>Empleo
						                                                </div>
						                                            </div>
						                                        	<div class="portlet-body table-responsive portlet-special">
						                                        		<table class="table table-bordered table-striped table-condensed small-table" cellspacing="0" width="100%">
																			<thead>
																				<tr>
																					<th>Rubro</th>
																					<th>Temporal Hombres</th>
																					<th>Temporal Mujeres</th>
																					<th>Permanente Hombres</th>
																					<th>Permanente Hombres</th>
																					<th>Familiar Hombres</th>
																					<th>Familiar Hombres</th>
																				</tr>
																			</thead>
																			<tbody>
																				{% for obj in value.11 %}
																				<tr>
																					<td>{{obj.0}}</td>
																					<td>{{obj.1}}</td>
																					<td>{{obj.2}}</td>
																					<td>{{obj.3}}</td>
																					<td>{{obj.4}}</td>
																					<td>{{obj.5}}</td>
																					<td>{{obj.6}}</td>
																				</tr>
																				{% endfor %}

																			</tbody>
																		</table>
						                                        	</div>
						                                        </div>
																		

																
																
															</div>

														</div>

													</div>
													{% endfor %}
												</div>
											</div>
											<!-- PRODUCCION TAB -->
											<div class="tab-pane" id="produccion">
												<ul class="nav nav-tabs" id="myTab" role="tablist">
													{% for key in years.keys %}
													<li class="nav-item">
														<a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{key}}-prod" role="tab">{{key}}</a>
													</li>
													{% endfor %}
												</ul>
												<div class="tab-content">
													{% for key,value in years.items  %}
														<div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{key}}-prod" role="tabpanel">

															<div class="row">
																<div class="col-sm-6">
																	<div class="portlet box green">
																		<div class="portlet-title">
																			<div class="caption">
																				<i class="fa fa-list"></i>Inventario de animales
																			</div>

																			<div class="actions">
																				<a class="btn btn-circle btn-icon-only btn-default" href="">
																					<i class="icon-cloud-download"></i>
																				</a>

																			</div>
																		</div>
																		<div class="portlet-body flip-scroll">
																			<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																				<thead>
																					<tr>
																						<th>Animales</th>
																						<th>Cantidad</th>
																						<th>Cuanto venden</th>
																					</tr>
																				</thead>
																				<tbody>
																					{% for obj in value.18 %}
																					<tr>
																						<td>{{obj.0}}</td>
																						<td>{{obj.1|default:"0"}}</td>
																						<td>{{obj.2|default:"0"}}</td>
																					</tr>
																					{% endfor %}

																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
																<div class="col-sm-6">
																	<div class="portlet box green">
																		<div class="portlet-title">
																			<div class="caption">
																				<i class="fa fa-list"></i>Producción de huevos y leche
																			</div>
																			<!-- <div class="tools">
																				<a href="javascript:;" class="collapse"> </a>
																				<a href="#portlet-config" data-toggle="modal" class="config"> </a>
																				<a href="javascript:;" class="reload"> </a>
																				<a href="javascript:;" class="remove"> </a>
																			</div> -->
																			<div class="actions">
																				<a class="btn btn-circle btn-icon-only btn-default" href="">
																					<i class="icon-cloud-download"></i>
																				</a>

																			</div>
																		</div>
																		<div class="portlet-body flip-scroll">
																			<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																				<thead>
																					<tr>
																						<th rowspan="5" valign="middle">Producción</th>
																					</tr>
																					<tr>
																						<th>Cantidad</th>
																						<th>Cuanto venden</th>
																						<th>A quien vende</th>
																					</tr>
																					<tr></tr>
																				</thead>
																				<tbody>
																					<tr>
																						{% for k,v in value.19.items %}
																						<tr>
																							<td class="v-aling" rowspan="5">{{k}}</td>
																							{% for x in v %}
																							<tr>
																								<td>{{x.1|default:"0"}}</td>
																								<td>{{x.2|default:"0"}}</td>
																								<td>{{x.0}}</td>
																							</tr>
																							{% endfor %}
																						</tr>
																						{% endfor %}
																					</tr>

																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<div class="portlet box green">
																		<div class="portlet-title">
							                                                <div class="caption">
							                                                    <i class="fa fa-list"></i>Producción - A quien vende la producción: {% for x in value.20 %}{{x|default:"---"}}{% if not forloop.last %},{% endif %}{% endfor %}
							                                                </div>
							                                            </div>
							                                        	<div class="portlet-body table-responsive portlet-special">
																			<ul class="nav nav-tabs" role="tablist">
																				<li role="presentation" class="nav-item active">
																					<a class="nav-link active" href="#primera-{{key}}" aria-controls="primera" role="tab" data-toggle="tab">Primera</a>
																				</li>
																				<li role="presentation" class="nav-item">
																					<a class="nav-link" href="#postrera-{{key}}" aria-controls="postrera" role="tab" data-toggle="tab">Postrera</a>
																				</li>
																				<li role="presentation" class="nav-item">
																					<a class="nav-link" href="#apante-{{key}}" aria-controls="apante" role="tab" data-toggle="tab">Apante</a>
																				</li>
																				<li role="presentation" class="nav-item">
																					<a class="nav-link" href="#permanentes-{{key}}" aria-controls="permanentes" role="tab" data-toggle="tab">Permanentes</a>
																				</li>
																				<li role="presentation" class="nav-item">
																					<a class="nav-link" href="#otros-{{key}}" aria-controls="otros" role="tab" data-toggle="tab">Otros</a>
																				</li>
																			</ul>
																			<div class="tab-content">
																				<div role="tabpanel" class="tab-pane active" id="primera-{{key}}">
																					<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																						<thead>
																							<tr>
																								<th>Cultivo</th>
																								<th>Área sembrada(Mz)</th>
																								<th>Producción Total qq</th>
																								<th>Semilla qq</th>
																								<th>Consumo humano qq</th>
																								<th>Consumo animal qq</th>
																								<th>Venta qq</th>
																								<th>Costo promedio de producción (Inversión) C$/Mz</th>
																								<th>Ingresos promedios de la producción C$/Mz</th>
																								<th>Ganancia o Perdida promedio C$/Mz</th>
																							</tr>
																						</thead>
																						<tbody>
																							{% for obj in value.13 %}
																							<tr>
																								<td>{{obj.0}}</td>
																								<td>{{obj.1|default:"0"}}</td>
																								<td>{{obj.2|default:"0"}}</td>
																								<td>{{obj.3|default:"0"}}</td>
																								<td>{{obj.4|default:"0"}}</td>
																								<td>{{obj.5|default:"0"}}</td>
																								<td>{{obj.6|default:"0"}}</td>
																								<td>{{obj.7|default:"0"}}</td>
																								<td>{{obj.8|default:"0"}}</td>
																								<td>{{obj.9|default:"0"}}</td>
																							</tr>
																							{% endfor %}

																						</tbody>
																					</table>
																				</div>
																				<div role="tabpanel" class="tab-pane" id="postrera-{{key}}">
																					<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																						<thead>
																							<tr>
																								<th>Cultivo</th>
																								<th>Área sembrada(Mz)</th>
																								<th>Producción Total qq</th>
																								<th>Semilla qq</th>
																								<th>Consumo humano qq</th>
																								<th>Consumo animal qq</th>
																								<th>Venta qq</th>
																								<th>Costo promedio de producción (Inversión) C$/Mz</th>
																								<th>Ingresos promedios de la producción C$/Mz</th>
																								<th>Ganancia o Perdida promedio C$/Mz</th>
																							</tr>
																						</thead>
																						<tbody>
																							{% for obj in value.14 %}
																							<tr>
																								<td>{{obj.0}}</td>
																								<td>{{obj.1|default:"0"}}</td>
																								<td>{{obj.2|default:"0"}}</td>
																								<td>{{obj.3|default:"0"}}</td>
																								<td>{{obj.4|default:"0"}}</td>
																								<td>{{obj.5|default:"0"}}</td>
																								<td>{{obj.6|default:"0"}}</td>
																								<td>{{obj.7|default:"0"}}</td>
																								<td>{{obj.8|default:"0"}}</td>
																								<td>{{obj.9|default:"0"}}</td>
																							</tr>
																							{% endfor %}

																						</tbody>
																					</table>
																				</div>
																				<div role="tabpanel" class="tab-pane" id="apante-{{key}}">
																					<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																						<thead>
																							<tr>
																								<th>Cultivo</th>
																								<th>Área sembrada(Mz)</th>
																								<th>Producción Total qq</th>
																								<th>Semilla qq</th>
																								<th>Consumo humano qq</th>
																								<th>Consumo animal qq</th>
																								<th>Venta qq</th>
																								<th>Costo promedio de producción (Inversión) C$/Mz</th>
																								<th>Ingresos promedios de la producción C$/Mz</th>
																								<th>Ganancia o Perdida promedio C$/Mz</th>
																							</tr>
																						</thead>
																						<tbody>
																							{% for obj in value.15 %}
																							<tr>
																								<td>{{obj.0}}</td>
																								<td>{{obj.1|default:"0"}}</td>
																								<td>{{obj.2|default:"0"}}</td>
																								<td>{{obj.3|default:"0"}}</td>
																								<td>{{obj.4|default:"0"}}</td>
																								<td>{{obj.5|default:"0"}}</td>
																								<td>{{obj.6|default:"0"}}</td>
																								<td>{{obj.7|default:"0"}}</td>
																								<td>{{obj.8|default:"0"}}</td>
																								<td>{{obj.9|default:"0"}}</td>
																							</tr>
																							{% endfor %}

																						</tbody>
																					</table>
																				</div>
																				<div role="tabpanel" class="tab-pane" id="permanentes-{{key}}">
																					<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																						<thead>
																							<tr>
																								<th>Cultivo</th>
																								<th>Área sembrada(Mz)</th>
																								<th>Producción Total qq</th>
																								<th>Semilla qq</th>
																								<th>Consumo humano qq</th>
																								<th>Consumo animal qq</th>
																								<th>Venta qq</th>
																								<th>Costo promedio de producción (Inversión) C$/Mz</th>
																								<th>Ingresos promedios de la producción C$/Mz</th>
																								<th>Ganancia o Perdida promedio C$/Mz</th>
																							</tr>
																						</thead>
																						<tbody>
																							{% for obj in value.16 %}
																							<tr>
																								<td>{{obj.0}}</td>
																								<td>{{obj.1|default:"0"}}</td>
																								<td>{{obj.2|default:"0"}}</td>
																								<td>{{obj.3|default:"0"}}</td>
																								<td>{{obj.4|default:"0"}}</td>
																								<td>{{obj.5|default:"0"}}</td>
																								<td>{{obj.6|default:"0"}}</td>
																								<td>{{obj.7|default:"0"}}</td>
																								<td>{{obj.8|default:"0"}}</td>
																								<td>{{obj.9|default:"0"}}</td>
																							</tr>
																							{% endfor %}

																						</tbody>
																					</table>
																				</div>
																				<div role="tabpanel" class="tab-pane" id="otros-{{key}}">
																					<table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
																						<thead>
																							<tr>
																								<th>Cultivo</th>
																								<th>Área sembrada(Mz)</th>
																								<th>Producción Total qq</th>
																								<th>Semilla qq</th>
																								<th>Consumo humano qq</th>
																								<th>Consumo animal qq</th>
																								<th>Venta qq</th>
																								<th>Costo promedio de producción (Inversión) C$/Mz</th>
																								<th>Ingresos promedios de la producción C$/Mz</th>
																								<th>Ganancia o Perdida promedio C$/Mz</th>
																							</tr>
																						</thead>
																						<tbody>
																							{% for obj in value.17 %}
																							<tr>
																								<td>{{obj.0}}</td>
																								<td>{{obj.1|default:"0"}}</td>
																								<td>{{obj.2|default:"0"}}</td>
																								<td>{{obj.3|default:"0"}}</td>
																								<td>{{obj.4|default:"0"}}</td>
																								<td>{{obj.5|default:"0"}}</td>
																								<td>{{obj.6|default:"0"}}</td>
																								<td>{{obj.7|default:"0"}}</td>
																								<td>{{obj.8|default:"0"}}</td>
																								<td>{{obj.9|default:"0"}}</td>
																							</tr>
																							{% endfor %}
																						</tbody>
																					</table>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>


														</div>
													{% endfor %}
												</div>
											</div>
											<!-- ORGANIZACION TAB -->
											<div class="tab-pane" id="organizacion">
												<ul class="nav nav-tabs" id="myTab" role="tablist">
													{% for key in years.keys %}
													<li class="nav-item">
														<a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{key}}-org" role="tab">{{key}}</a>
													</li>
													{% endfor %}

												</ul>

												<!-- Tab panes -->
												<div class="tab-content">
													{% for key,value in years.items  %}
													<div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{key}}-org" role="tabpanel">
														<div class="row">
															<div class="col-sm-4">
																<div class="profile-usermenu">
																	<ul class="nav nav-pills nav-stacked">


																		<li>
																			<a>
																				<b>Cotiza:</b> {{value.21.0|default:"---"}}
																			</a>
																		</li>
																		{% if value.21.0 == 'Si' %}
																			<li>
																				<a>
																					<b>Donde cotiza:</b> {{value.22.0.0}}
																				</a>
																			</li>
																			<li>
																				<a>
																					<b>Desde cuando:</b> {{value.22.0.1}}
																				</a>
																			</li>
																			<li>
																				<a>
																					<b>Cuanto cotiza:</b> C$ {{value.22.0.2}}
																				</a>
																			</li>
																			<li>
																				<a>
																					<b>Frecuencia:</b> {{value.22.0.3}} 
																				</a>
																			</li>
																		{% endif %}
																		

																		 
																	</ul>
																</div>
																
															</div>
															<div class="col-sm-4">
																<div class="profile-usermenu">
																	<ul class="nav nav-pills nav-stacked">


																		<li>
																			<a>
																				<b>Miembro cooperativa:</b> {{value.23.0|default:"---"}}
																			</a>
																		</li>
																		{% if value.23.0 == 'Si' %}
																			<li>
																				<a>
																					<b>Cooperativas: </b> 
																					{% for x in value.24 %}
																						{{x}}{% if not forloop.last %},{% endif %}		
																					{% endfor %}
																				</a>
																			</li>
																			
																		{% endif %}
																		<li>
																			<a>
																				<b>Beneficiado de un proyecto: </b>
																				{{value.25.0|default:"---"}}
																			</a>
																		</li>
																		{% if value.25.0 == 'Si' %}
																			<li>
																				<a>
																					<b>Proyectos: </b>
																					{% for x in value.26 %}
																						{{x}}{% if not forloop.last %},{% endif %}		
																					{% endfor %}
																				</a>
																			</li>
																		{% endif %}

																		 
																	</ul>
																</div>
															</div>
															<div class="col-sm-4">
																<div class="profile-usermenu">
																	<ul class="nav nav-pills nav-stacked">


																		<li>
																			<a>
																				<b>Recibe credito:</b> {{value.27.0.0|default:"---"}}
																			</a>
																		</li>
																		{% if value.27.0.0 == 'Si' %}
																			<li>
																				<a>
																					<b>De quien recibe el credito: </b>
																					{{value.27.0.1}} 
																				</a>
																			</li>
																			<li>
																				<a>
																					<b>Formas que recibe el credito:  </b>
																					{% for x in value.28 %}
																						{{x}}{% if not forloop.last %},{% endif %}		
																					{% endfor %}
																				</a>
																			</li>
																			
																		{% endif %}
																		


																		 
																	</ul>
																</div>
															</div>
														</div>
														<div class="row">

															<div class="col-sm-6">
															  <br>
															
															 <br>
																
															
															</div>
														</div>

														<div class="row">
															<div class="col-sm-4">

																<div class="portlet sale-summary">
                                                                    <div class="portlet-title">
                                                                        <div class="caption font-red sbold"> Problemas más sentidos: </div>

                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <ul class="list-unstyled">
                                                                        	{% for x in value.29 %}
																				
																			
                                                                            <li>
                                                                                <span class="sale-info"> 
                                                                                {{x|default:"---"}}
                                                                                </span>

                                                                            </li>
                                                                            {% endfor %}

                                                                        </ul>
                                                                    </div>
                                                                </div>

															</div>
															<div class="col-sm-4">

																<div class="portlet sale-summary">
                                                                    <div class="portlet-title">
                                                                        <div class="caption font-red sbold"> Acciones que realiza para enfrentar el cambio climático: </div>

                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <ul class="list-unstyled">
                                                                        	{% for x in value.30 %}
																				
																			
                                                                            <li>
                                                                                <span class="sale-info"> 
                                                                                {{x|default:"---"}}
                                                                                </span>

                                                                            </li>
                                                                            {% endfor %}

                                                                        </ul>
                                                                    </div>
                                                                </div>

															
															</div>
															<div class="col-sm-4">

																<div class="portlet sale-summary">
                                                                    <div class="portlet-title">
                                                                        <div class="caption font-red sbold"> Motivos de Afiliación a la UNAG: </div>

                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <ul class="list-unstyled">
                                                                        	{% for x in value.31 %}
																				
																			
                                                                            <li>
                                                                                <span class="sale-info"> 
                                                                                {{x|default:"---"}}
                                                                                </span>

                                                                            </li>
                                                                            {% endfor %}

                                                                        </ul>
                                                                    </div>
                                                                </div>

															
															</div>
															<div class="col-sm-12">

																<div class="portlet sale-summary">
                                                                    <div class="portlet-title">
                                                                        <div class="caption font-red sbold"> Comentarios:  </div>

                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <ul class="list-unstyled">
                                                                        	
																				
																			
                                                                            <li>
                                                                                <span class="sale-info"> 
                                                                                {{value.32.0|default:"---"}}
                                                                                </span>

                                                                            </li>
                                                                          

                                                                        </ul>
                                                                    </div>
                                                                </div>

															
															</div>

													</div>
													{% endfor %}
												</div>
											</div>
											{% endif %}
										</div>
									</div>
									<!-- END PORTLET MAIN -->

									<!-- END BEGIN PROFILE SIDEBAR -->
									<!-- BEGIN PROFILE CONTENT -->

									<!-- END PROFILE CONTENT -->
								</div>
							</div>
						</div>
						<!-- END PAGE CONTENT INNER -->
					</div>
				</div>
				<!-- END PAGE CONTENT BODY -->
				<!-- END CONTENT BODY -->
			</div>
			<!-- END CONTENT -->

		</div>
		<!-- END CONTAINER -->
	</div>
</div>

{% endblock content %}

{% block extra_js %}

<!-- select 2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">
	$(".js-example-basic-multiple").select2({
		placeholder: "Seleccionar afiliado",
		allowClear: true
	});
</script>


<script type="text/javascript">
	$(function () {
		{% for key,value in years.items %}

		$('#area{{key}}').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: ''
			},
			credits: {
				enabled: false
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
								//distance: -30,
								format: '{point.percentage:.1f} %',
								style: {
									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
							},
							showInLegend: true
						}
					},
					series: [{
						name: "",
						colorByPoint: true,
						data: [
						{% for k,v in value.3.items %}
						{
							name: "{{k}} ({{v.0|default:"0"}})",
							y: {{v.0|default:"0"}}
						},
						{% endfor %}


						]
					}]
				});
		$('#otras{{key}}').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: ''
			},
			credits: {
				enabled: false
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
								//distance: -30,
								format: '{point.percentage:.1f} %',
								style: {
									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
							},
							showInLegend: true
						}
					},
					series: [{
						name: "",
						colorByPoint: true,
						data: [
						{% for k,v in value.4.items %}
						{
							name: "{{k}} ({{v.0|default:"0"}})",
							y: {{v.0|default:"0"}}
						},
						{% endfor %}


						]
					}]
				});
		{% endfor %}
	});

</script>
<script type="text/javascript">
	$( ".hor-menu ul li" ).removeClass( "active" );
	$( ".hor-menu ul li.afiliado" ).addClass( "active" );
</script>
{% endblock extra_js %}
