{% extends "frontend/base.html" %}
{% load thumbnail %}
{% block extra_head %}
<link href="/static/pages/css/profile.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/plugins/select2/css/select2-bootstrap.min.css">
{% endblock extra_head %}
{% block content %}
<div class="page-wrapper-row full-height">
	<div class="page-wrapper-middle">
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<!-- BEGIN CONTENT BODY -->
				<!-- BEGIN PAGE HEAD-->
				<div class="page-head">
                    <div class="titulo-page">
                    	<div class="container">
                    		<!-- BEGIN PAGE TITLE -->
                    		<div class="page-title">
                    			<h1>Datos Personales
                    				<!-- <small>dashboard & statistics</small> -->
                    			</h1>
                                
                    		</div>
                    		<!-- END PAGE TITLE -->
                    		<!-- BEGIN PAGE TOOLBAR -->
                    		<div class="page-toolbar">
                    			<!-- BEGIN THEME PANEL -->
	                    		<!-- BEGIN PAGE TOOLBAR -->
	                    		<div class="page-toolbar hidden-xs">
	                    			{% include "frontend/indicador_afiliado.html" %}
	                    		</div>
	                    		<div class="page-toolbar visible-xs">
	                    			{% include "frontend/indicador_afiliadoxm.html" %}
	                    		</div>
	                    		<!-- END PAGE TOOLBAR -->
                    		</div>
                    		<!-- END PAGE TOOLBAR -->

                    	</div>
                    </div>
                    
                </div>
				<!-- BEGIN PAGE CONTENT BODY -->
				<div class="page-content">
					<div class="container">
						<!-- BEGIN PAGE BREADCRUMBS -->
						<ul class="page-breadcrumb breadcrumb">
							<li>
								<a href="/">Inicio</a>
								<i class="fa fa-circle"></i>
							</li>
							<li>
								<a href="#">Perfil</a></i>
							</li>
						</ul>
						<!-- END PAGE BREADCRUMBS -->
						<!-- BEGIN PAGE CONTENT INNER -->
						<div class="page-content-inner">
							<div class="row">
								<div class="col-md-12">
									
									<!-- PORTLET MAIN -->
									<div class="portlet light">
										<div class="portlet-title">
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
													<div class="caption font-red-sunglo">
														
														<h4 class="caption-subject bold uppercase"><i class="icon-user font-red-sunglo"></i> Perfil afiliados</h4>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
													<form class="form-inline" role="form" action="." method='post'>{% csrf_token %}
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-search font-red"></i>
															</div>
															{{form.nombre}}
															<span class="input-group-btn">
														        <button type="submit" name="consulta" value="Consultar" class="btn btn-default green">Consulta</button>
														    </span>
														</div>
														
														
													</form>
												</div>
											</div>
										</div>
										<div class="tab-content">
											<!-- PERSONAL TAB -->
											<div class="tab-pane active" id="personales">
												
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<div class="profile-usertitle-name">
															{% if afiliado.foto %}
																{% thumbnail afiliado.foto "120" format="PNG" as img %}
																<img src="/media/{{img}}" alt="">
																{% endthumbnail %}
																{% else %}
																<img src="http://placehold.it/120x120" alt="">
															{% endif %}				
															{{afiliado.nombre}} 
														</div>
													</div>
													<div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
														<!-- SIDEBAR USER TITLE -->
														<!-- SIDEBAR MENU -->
														<div class="profile-usermenu">
															<ul class="nav nav-pills nav-stacked">


																<li>
																	<a><i class="fa fa-map-marker"></i> 
																	Departamento: {{afiliado.municipio.departamento}}</a>
																</li>
																<li>
																	<a><i class="fa fa-map-marker"></i> 
																	Municipio: {{afiliado.municipio.nombre}}</a>
																</li>
																<li>
																	<a>
																		<i class="fa fa-map-marker"></i> 
																		Comunidad: {{afiliado.comunidad.nombre}}
																	</a>
																</li>
																<li>
																	<a >
																		{% if afiliado.sexo == 'Masculino' %}
																			<i class="fa fa-mars"></i>
																		{% else %}
																			<i class="fa fa-venus"></i>
																		{% endif %}
																		Sexo: {{afiliado.sexo}}
																	</a>
																</li>
																<li>
																	<a > <i class="fa fa-legal"></i> Estado civil: {{estado_civil}} </a>
																</li>
																
																<li>
																	<a > <i class="fa fa-calendar"></i> Ingreso UNAG: {{afiliado.anio_ingreso}} </a>
																</li>
																 
															</ul>
														</div>
														<!-- END MENU -->
														<!-- END SIDEBAR USER TITLE -->
													</div>
													<div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
														<!-- SIDEBAR MENU -->
														<div class="profile-usermenu">
															<ul class="nav nav-pills nav-stacked">
																<li>
																	<a>
																		<i class="fa fa-graduation-cap"></i> 
																		Escolaridad: {{escolaridad}}
																	</a>
																</li>
																<li>
																	<a><i class="fa fa-credit-card"></i> 
																	Cédula: {{afiliado.cedula}}</a>
																</li>
																<li>
																	<a>
																		<i class="fa fa-map-marker"></i> 
																		 Lugar de nacimiento: {{afiliado.lugar_nacimiento}}
																	</a>
																</li>
																<li>
																	<a>
																		<i class="fa fa-birthday-cake"></i> 
																		 Fecha de nacimiento: {{afiliado.fecha_nacimiento}} ({{afiliado.edad}} años)
																	</a>
																</li>

																<li>
																	<a>
																		<i class="fa fa-phone"></i> Télefono: {{afiliado.numero_celular}} ({{afiliado.tipo_celular}})
																	</a>
																</li>
																
																<li>
																	<a > <i class="fa fa-wifi"></i> Acceso a internet: {{acceso_internet}} </a>
																</li>

															</ul>
														</div>
														<!-- END MENU -->
													</div>
													
												</div>
												
											</div>
											
										</div>
									</div>
									<!-- END PORTLET MAIN -->

									<!-- END BEGIN PROFILE SIDEBAR -->
									<!-- BEGIN PROFILE CONTENT -->

									<!-- END PROFILE CONTENT -->
								</div>
							</div>
						</div>
						<!-- END PAGE CONTENT INNER -->
					</div>
				</div>
				<!-- END PAGE CONTENT BODY -->
				<!-- END CONTENT BODY -->
			</div>
			<!-- END CONTENT -->

		</div>
		<!-- END CONTAINER -->
	</div>
</div>
{% endblock content %}

{% block extra_js %}

<!-- select 2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">
	$("#id_nombre").select2({
		placeholder: "Seleccionar afiliado",
		allowClear: true
	});
	{% if request.session.nombre %}
		$('#id_nombre').val({{request.session.nombre.id}});
		$('#id_nombre').trigger('change');
	{% endif %}
</script>

<script type="text/javascript">
	$( ".hor-menu ul li" ).removeClass( "active" );
	$( ".hor-menu ul li.afiliado" ).addClass( "active" );
	$( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.general" ).addClass( "active" );
</script>
{% endblock extra_js %}