{% extends "frontend/base.html" %}

{% block extra_head %}
<link href="/static/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block content %}
<style type="text/css">
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
</style>
    <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    <!-- BEGIN PAGE TITLE -->
                                    <div class="page-title">
                                        <h1>Consulta
                                            <!-- <small>dashboard & statistics</small> -->
                                        </h1>
                                    </div>
                                    <!-- END PAGE TITLE -->
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/">Inicio</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            <span>Consulta</span>
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                    <!-- BEGIN PAGE CONTENT INNER -->
                                    <div class="page-content-inner">
                                        <div class="mt-content-body">
                                            <div class="row justify-content-md-center">
                                                {% if centinela == 1 %}
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <!-- BEGIN SAMPLE FORM PORTLET-->
                                                        <div class="portlet box blue ">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class="icon-settings"></i>
                                                                    <span class="caption-subject sbold uppercase">Consulta</span>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="portlet-body form">

                                                                <form class="form-horizontal" role="form">
                                                                    <div class="form-body">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-sm-8">
                                                                                <ul class="list-line list-filtro">              
                                                                                    {% if request.session.anio %}
                                                                                        <li>
                                                                                            <i class="fa fa-calendar"></i>
                                                                                            <b>Ronda:</b> {{request.session.ronda}}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.sexo %}
                                                                                        <li>
                                                                                            <i class="fa fa-venus-mars"></i>
                                                                                            <b>Sexo:</b> {{request.session.sexo}}
                                                                                        </li>
                                                                                    {% else %}
                                                                                    <li>
                                                                                        <i class="fa fa-venus-mars"></i>
                                                                                        <b>Sexo:</b> Ambos
                                                                                    </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.departamento %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Municipios:</b> {% for x in request.session.departamento %}{{x.nombre}}, {% endfor %}   
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.municipio %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Municipios:</b> {% for x in request.session.municipio %}{{x.nombre}}, {% endfor %}   
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.comunidad %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Comunidades:</b> {% for x in request.session.comunidad %}{{x.nombre}}, {% endfor %}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.edad_inicio and request.session.edad_fin %}
                                                                                        <li>
                                                                                            <i class="fa fa-arrows-h"></i>
                                                                                            <b>Rango de edad:</b> {{request.session.edad_inicio}} - {{request.session.edad_fin}}
                                                                                        </li>

                                                                                    {% endif %}
                                                                                        
                                                                                    
                                                                                    
                                                                                
                                                                                </ul>
                                                                            </div>
                                                                            <div class="col-xs-12 col-sm-4">
                                                                                <ul class="list-line list-filtro">
                                                                                    <li>
                                                                                        <i class="fa fa-filter"></i>
                                                                                        <b>Resultado:</b> {{conteo_encuesta}}
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- END SAMPLE FORM PORTLET-->
                                                
                                                    </div>
                                                                                       
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <!-- BEGIN SAMPLE FORM PORTLET-->
                                                        <div class="portlet box blue ">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class="icon-settings"></i>
                                                                    <span class="caption-subject sbold uppercase">Consulta por indicadores</span>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="portlet-body form">
                                                                <form class="form-horizontal" role="form">
                                                                    <div class="form-body">

                                                                            <div class="indicadores row">
                                                                                <div class="col-xs-6 col-md-2 col-md-offset-1">
                                                                                    <a href="/datos-generales/" class="btn green-meadow">Datos Generales</a>
                                                                                </div>
                                                                                <div class="col-xs-6 col-md-2">
                                                                                    <a href="/datos-familiares/" class="btn green-meadow">Datos Familiares</a>
                                                                                </div>
                                                                                <div class="col-xs-6 col-md-2">
                                                                                    <a href="/datos-propiedad/" class="btn green-meadow">Datos de Propiedad</a>
                                                                                </div>
                                                                                <div class="col-xs-6 col-md-2">
                                                                                    <a href="/datos-produccion/" class="btn green-meadow">Datos de Producción</a>
                                                                                </div>
                                                                                <div class="col-xs-6 col-md-2">
                                                                                   <a href="/organizacion/" class="btn green-meadow">Datos de Organización</a>
                                                                                </div>
                                                                                <!--<div class="col-md-3">
                                                                                    <button type="button" class="btn green-meadow">Empleo</button>
                                                                                    
                                                                                </div>-->
                                                                            </div>                                      
                                                                        
                                                                        
                                                                    </div>
                                                                
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- END SAMPLE FORM PORTLET-->
                                                
                                                    </div>
                                                    
                                                {% else %}
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <div class="portlet box blue ">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class="icon-settings"></i>
                                                                    <span class="caption-subject sbold uppercase">Formulario Consulta</span>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="portlet-body form">
                                                                <form class="form-horizontal" action="." method="post" role="form">{% csrf_token %}
                                                                    <div class="form-body">
                                                                        <div class="row">
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Ronda</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.anio}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Departamento</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.departamento}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">

                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Municipio</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.municipio}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Comunidad / Comarca</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.comunidad}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Sexo</label>
                                                                                    <div class="col-md-8">
                                                                                        <div class="mt-radio-inline">
                                                                                            {{form.sexo}}
                                                                                        </div>
                                                                                
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                            
                                                                                <div class="form-group">
                                                                                    <label class="col-md-2 control-label">Rango edad</label>
                                                                                    <div class="col-md-10">
                                                                                        <div class="form-inline xs-margin">
                                                                                            <div class="input-group">
                                                                                                <span class="input-group-addon" id="basic-addon1">
                                                                                                    Inicio
                                                                                                </span>
                                                                                                {{form.edad_inicio}}
                                                                                            </div>
                                                                                            <div class="input-group">
                                                                                                <span class="input-group-addon" id="basic-addon1">
                                                                                                    Fin
                                                                                                </span>
                                                                                                {{form.edad_fin}}
                                                                                            </div>
                                                                                           
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="form-actions right1">
                                                                        <button type="button" class="btn default">Cancelar</button>
                                                                        <input type="submit" name="consulta" value="Consultar" class="btn green">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- END PAGE CONTENT INNER -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
{% endblock content %}

{% block extra_js %}


<!-- js multiselect -->
<script src="/static/js/bootstrap-multiselect.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('select').addClass('form-control');
    $('#id_edad_inicio').addClass('form-control');
    $('#id_edad_fin').addClass('form-control');
    $('#id_sexo li label').addClass('mt-radio');
    
    $( "#id_sexo li label" ).append( "<span></span>" );
    
    $("#id_departamento").addClass("form-control").multiselect({
            buttonWidth: '100%',
            includeSelectAllOption: true,
            selectAllText: "Seleccionar todos",
            buttonText: function(options, select) {
              if (options.length === 0) {
                return "Sin selección ...";
              }
              else if (options.length > 3) {
                return "Varias opciones seleccionadas!";
              }
              else {
                var labels = [];
                options.each(function() {
                  if ($(this).attr('label') !== undefined) {
                    labels.push($(this).attr('label'));
                  }
                  else {
                    labels.push($(this).html());
                  }
                });
                return labels.join(', ') + '';
              }
            }
          });

    $("#id_municipio").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_comunidad").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_municipio").multiselect('disable');
    $("#id_comunidad").multiselect('disable');

    var foo1 = [];
  $(document).on('change','#id_departamento',function(){
    $('#id_departamento :selected').each(function(i, selected){
      foo1[i] = $(selected).val();
      $('#id_municipio').multiselect('rebuild');
    });
    $.getJSON('/ajax/municipios/?ids='+foo1.join(","), function(data){
      $('#id_municipio').html('');
      $('#id_municipio').multiselect('enable');
      $("#id_municipio").multiselect('refresh');
      var comunidad = $('#id_municipio');
      if(data){
        $.each(data, function(i, item){

          $.each(item, function(j, item2){
            var group = $('<optgroup></optgroup>').attr('label', j);
            $.each(item2, function(k, item3){
              group.append($('<option></option>').val(item3.id).html(item3.nombre));
            });
            group.appendTo(comunidad);
            $('#id_municipio').multiselect('rebuild');
          });
        });
      }
    });
  });

    var foo = [];
    $(document).on('change','#id_municipio',function(){
      $('#id_municipio :selected').each(function(i, selected){
        foo[i] = $(selected).val();
        $('#id_comunidad').multiselect('rebuild');
      });
      $.getJSON('/ajax/comunidades/?ids='+foo.join(","), function(data){
        $('#id_comunidad').html('');
        $('#id_comunidad').multiselect('enable');
        $("#id_comunidad").multiselect('refresh');
        var comunidad = $('#id_comunidad');
        if(data){
          $.each(data, function(i, item){

            $.each(item, function(j, item2){
              var group = $('<optgroup></optgroup>').attr('label', j);
              $.each(item2, function(k, item3){
                group.append($('<option></option>').val(item3.id).html(item3.nombre));
              });
              group.appendTo(comunidad);
              $('#id_comunidad').multiselect('rebuild');
            });
          });
        }
      });
    });
});
</script>
    <script type="text/javascript">
        $( ".hor-menu ul li" ).removeClass( "active" );
        $( ".hor-menu ul li.consulta" ).addClass( "active" );
    </script>
{% endblock extra_js %}
            

