{% extends "frontend/base.html" %}

{% block extra_head %}
<link href="/static/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block content %}
  <style type="text/css">
  .dropdown-menu {
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
  }
  </style>
<div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    <!-- BEGIN PAGE TITLE -->
                                    <div class="page-title">
                                        <h1>Consulta Datos Afiliados
                                            <!-- <small>dashboard & statistics</small> -->
                                        </h1>
                                    </div>
                                    <!-- END PAGE TITLE -->
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/">Inicio</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            <span>Consulta Datos Afiliados</span>
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                    <!-- BEGIN PAGE CONTENT INNER -->
                                    <div class="page-content-inner">
                                        <div class="mt-content-body">
                                        {% if request.path == '/consulta-datos-afiliado/' %}
                                            <div class="col-md-8 col-md-offset-2">
                                                <ul class="nav nav-pills nav-fill">
                                                  <li class="nav-item">
                                                    <a class="nav-link active btn green-meadow" href="/consulta-datos-afiliado/">Datos Afiliados</a>
                                                  </li>
                                                  <li class="nav-item">
                                                    <a class="nav-link btn green-meadow" href="/consulta-datos-afiliado-familiares/">Datos familiares</a>
                                                  </li>
                                                </ul>
                                            </div>
                                            {% include "frontend/filtro_datos_afiliados.html" %}
                                        {% else %}
                                            <div class="col-md-8 col-md-offset-2">
                                                <ul class="nav nav-pills nav-fill">
                                                  <li class="nav-item">
                                                    <a class="nav-link btn green-meadow" href="/consulta-datos-afiliado/">Datos Afiliados</a>
                                                  </li>
                                                  <li class="nav-item">
                                                    <a class="nav-link active btn green-meadow" href="/consulta-datos-afiliado-familiares/">Datos familiares</a>
                                                  </li>
                                                </ul>
                                            </div>
                                            {% include "frontend/filtro_datos_familiares.html" %}
                                        {% endif %}
                                        
                                       </div>
                                    </div>
                                    <!-- END PAGE CONTENT INNER -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
</div>
{% endblock content %}

{% block extra_js %}

<!-- js multiselect -->
<script src="/static/js/bootstrap-multiselect.js" type="text/javascript"></script>
<script src="/static/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('select').addClass('form-control');
    $('#id_sexo li label').addClass('mt-radio');
    $('#id_edad_inicio').addClass('form-control');
    $('#id_edad_fin').addClass('form-control');
    $( "#id_sexo li label" ).append( "<span></span>" );
    
    $("#id_departamento").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_municipio").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_comunidad").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_problemas_productor").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_cooperativas").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_cambio_climatico").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_motivos").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });

    $("#id_cooperativas").multiselect('disable');
    $("#id_nivel_escolaridad").attr('disabled', 'disabled');
    $("#id_municipio").multiselect('disable');
    $("#id_comunidad").multiselect('disable');

    $(document).on('change','#id_escolaridad',function(){
        var x = $('#id_escolaridad').val();
        if(x == 'Si'){
            $("#id_nivel_escolaridad").removeAttr('disabled');
        }else{
           $("#id_nivel_escolaridad").attr('disabled','disabled');
           $("#id_nivel_escolaridad").val("");
        }
    });

    $(document).on('change','#id_cooperativa',function(){
        var x = $('#id_cooperativa').val();
        if(x == 'Si'){
            $("#id_cooperativas").multiselect('enable');
        }else{
           $("#id_cooperativas").multiselect('disable');
           $("#id_cooperativas").multiselect('refresh'); 
        }
    });

     var foo1 = [];
    $(document).on('change','#id_departamento',function(){
      $('#id_departamento :selected').each(function(i, selected){
        foo1[i] = $(selected).val();
        $('#id_municipio').multiselect('rebuild');
      });
      $.getJSON('/ajax/municipios/?ids='+foo1.join(","), function(data){
        $('#id_municipio').html('');
        $('#id_municipio').multiselect('enable');
        $("#id_municipio").multiselect('refresh');
        var comunidad = $('#id_municipio');
        if(data){
          $.each(data, function(i, item){

            $.each(item, function(j, item2){
              var group = $('<optgroup></optgroup>').attr('label', j);
              $.each(item2, function(k, item3){
                group.append($('<option></option>').val(item3.id).html(item3.nombre));
              });
              group.appendTo(comunidad);
              $('#id_municipio').multiselect('rebuild');
            });
          });
        }
      });
    });

    var foo = [];
    $(document).on('change','#id_municipio',function(){
      $('#id_municipio :selected').each(function(i, selected){
        foo[i] = $(selected).val();
        $('#id_comunidad').multiselect('rebuild');
      });
      $.getJSON('/ajax/comunidades/?ids='+foo.join(","), function(data){
        $('#id_comunidad').html('');
        $('#id_comunidad').multiselect('enable');
        $("#id_comunidad").multiselect('refresh');
        var comunidad = $('#id_comunidad');
        if(data){
          $.each(data, function(i, item){

            $.each(item, function(j, item2){
              var group = $('<optgroup></optgroup>').attr('label', j);
              $.each(item2, function(k, item3){
                group.append($('<option></option>').val(item3.id).html(item3.nombre));
              });
              group.appendTo(comunidad);
              $('#id_comunidad').multiselect('rebuild');
            });
          });
        }
      });
    });

    $("#id_parentesco").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
});
</script>
    <script type="text/javascript">
        $('#tabla').DataTable();
        $( ".hor-menu ul li" ).removeClass( "active" );
        $( ".hor-menu ul li.consulta-afiliado" ).addClass( "active" );
    </script>
{% endblock extra_js %}
            

