{% extends "frontend/base.html" %}

{% block content %}
<div class="page-wrapper-row full-height">
	<div class="page-wrapper-middle">
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<!-- BEGIN CONTENT BODY -->
				<!-- BEGIN PAGE HEAD-->
				<div class="page-head">
                    <div class="titulo-page">
                    	<div class="container">
                    		<!-- BEGIN PAGE TITLE -->
                    		<div class="page-title">
                    			<h1>Datos Familiares
                    				<!-- <small>dashboard & statistics</small> -->
                    			</h1>
                                
                    		</div>
                    		<!-- END PAGE TITLE -->
                    		<!-- BEGIN PAGE TOOLBAR -->
                    		<div class="page-toolbar hidden-xs">
                    			<!-- BEGIN THEME PANEL -->
                    			{% include "frontend/indicadores.html" %}
                    			<!-- END THEME PANEL -->

                    		</div>
                    		<div class="page-toolbar visible-xs">
                    			<!-- BEGIN THEME PANEL -->
                    			{% include "frontend/indicadoresxm.html" %}
                    			<!-- END THEME PANEL -->

                    		</div>
                    		<!-- END PAGE TOOLBAR -->

                    	</div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "frontend/filtros.html" %}
                        </div>
                    </div>
                    
                </div>
				<!-- END PAGE HEAD-->
				<!-- BEGIN PAGE CONTENT BODY -->
				<div class="page-content">
					<div class="container">
						<!-- BEGIN PAGE BREADCRUMBS -->
						<ul class="page-breadcrumb breadcrumb">
							<li>
								<a href="/">Inicio</a>
								<i class="fa fa-circle"></i>
							</li>
							<li>
								<a href="/consulta/">Consulta</a>
								<i class="fa fa-circle"></i>
							</li>
							<li>
								<span>Datos Familiares</span>
							</li>
						</ul>
						<!-- END PAGE BREADCRUMBS -->
						<!-- BEGIN PAGE CONTENT INNER -->
						<div class="page-content-inner">
							<div class="mt-content-body">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="portlet light ">
											<div class="portlet-title tabbable-line">
												<div class="caption">
													<i class="icon-globe font-dark hide"></i>
													<span class="caption-subject font-green-steel bold uppercase">Hombres y mujeres que emigran</span>
												</div>
											</div>

											<div class="portlet-body">
												<div class="map">
													<div class="grafico-ind" id="emigran" width='100%'></div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 col-sm-12">
										<div class="portlet light ">
											<div class="portlet-title tabbable-line">
												<div class="caption">
													<i class="icon-globe font-dark hide"></i>
													<span class="caption-subject font-green-steel bold uppercase">Destino de migrantes</span>
												</div>
											</div>

											<div class="portlet-body">
												<div class="map">
													<div class="grafico-ind" id="destino-migracion" width='100%'></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="portlet light ">
											<div class="portlet-title tabbable-line">
												<div class="caption">
													<i class="icon-globe font-dark hide"></i>
													<span class="caption-subject font-green-steel bold uppercase">Periodo de migración</span>
												</div>
											</div>

											<div class="portlet-body">
												<div class="map">
													<div class="grafico-ind" id="periodo-migracion" width='100%'></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="portlet light ">
											<div class="portlet-title tabbable-line">
												<div class="caption">
													<i class="icon-globe font-dark hide"></i>
													<span class="caption-subject font-green-steel bold uppercase">Meses de migración</span>
												</div>
											</div>

											<div class="portlet-body">
												<div class="map">
													<div class="grafico-ind" id="meses" width='100%'></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PAGE CONTENT INNER -->
					</div>
				</div>
				<!-- END PAGE CONTENT BODY -->
				<!-- END CONTENT BODY -->
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END CONTAINER -->
	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
	Highcharts.chart('emigran', {
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			type: 'pie'
		},
		title: {
			text: ''
		},
		tooltip: {
			pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					format: '{point.percentage:.1f} %',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				},
				showInLegend: true
			}
		},
		series: [{
			name: 'Porcentajes',
			colorByPoint: true,
			data: [
			{
				name: 'Hombres ({{emigran_h|default:"0"}})',
				y: {{emigran_h|default:"0"}}
			},
			{
				name: 'Mujeres ({{emigran_m|default:"0"}})',
				y: {{emigran_m|default:"0"}}
			},
			]
		}]
	});

	Highcharts.chart('destino-migracion', {
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			type: 'pie'
		},
		title: {
			text: ''
		},
		tooltip: {
			pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					format: '{point.percentage:.1f} %',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				},
				showInLegend: true
			}
		},
		series: [{
			name: 'Porcentajes',
			colorByPoint: true,
			data: [

			{% for k,v in migran.items %}
			{
				name: '{{k}} ({{v|default:"0"}})',
				y: {{v|default:"0"}}
			},
			{% endfor %}
			]
		}]
	});

	Highcharts.chart('periodo-migracion', {
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			type: 'pie'
		},
		title: {
			text: ''
		},
		tooltip: {
			pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					format: '{point.percentage:.1f} %',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				},
				showInLegend: true
			}
		},
		series: [{
			name: 'Porcentajes',
			colorByPoint: true,
			data: [

			{% for k,v in periodo.items %}
			{
				name: '{{k}} ({{v|default:"0"}})',
				y: {{v|default:"0"}}
			},
			{% endfor %}
			]
		}]
	});

	Highcharts.chart('meses', {

		title: {
			text: ''
		},

		yAxis: {
			title: {
				text: 'Familiares'
			}
		},

		xAxis: {
			categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
		},

		series: [{
			name: 'Familiares que emigran',
			data: [{% for v in meses.values %}{{v}},{% endfor %}]
		}]

	});
</script>
<script type="text/javascript">
	$( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.familia" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.familia" ).addClass( "active" );
</script>
{% endblock extra_js %}