{% extends "frontend/base.html" %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                    	<div class="container">
                    		<!-- BEGIN PAGE TITLE -->
                    		<div class="page-title">
                    			<h1>Datos Generales
                    				<!-- <small>dashboard & statistics</small> -->
                    			</h1>
                                
                    		</div>
                    		<!-- END PAGE TITLE -->
                    		<!-- BEGIN PAGE TOOLBAR -->
                    		<div class="page-toolbar">
                    			<!-- BEGIN THEME PANEL -->
                    			{% include "frontend/indicadores.html" %}
                    			<!-- END THEME PANEL -->
                    		</div>
                    		<!-- END PAGE TOOLBAR -->

                    	</div>
                    </div>
                    <div class="">
                        <div class="container">
                            <div class="" id="filtros">
                                {% include "frontend/filtros.html" %}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                	<div class="container">
                		<!-- BEGIN PAGE BREADCRUMBS -->
                		<ul class="page-breadcrumb breadcrumb">
                			<li>
                				<a href="/">Inicio</a>
                				<i class="fa fa-circle"></i>
                			</li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                			<li>
                				<span>Datos Generales</span>
                			</li>
                		</ul>
                		<!-- END PAGE BREADCRUMBS -->
                		<!-- BEGIN PAGE CONTENT INNER -->
                		<div class="page-content-inner">
                			<div class="mt-content-body">
                				<div class="row">
                					<div class="col-md-6 col-sm-12">
                						<div class="portlet light ">
                							<div class="portlet-title tabbable-line">
                								<div class="caption">
                									<i class="icon-globe font-dark hide"></i>
                									<span class="caption-subject font-green-steel bold uppercase">Escolaridad de afiliados</span>
                									<span class="caption-helper">{{personas}} Personas</span>
                								</div>
                								<ul class="nav nav-tabs">
                									<li class="active">
                										<a href="#tab_1_1" aria-controls="tab_1_1" role="tab" data-toggle="tab"> Hombres </a>
                									</li>
                									<li>
                										<a href="#tab_1_2" aria-controls="tab_1_2" role="tab" data-toggle="tab"> Mujeres </a>
                									</li>
                								</ul>
                							</div>

                							<div class="portlet-body tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="tab_1_1">
                                                    <div class="grafico-ind" id="escolaridad-hombre" width='100%'></div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="tab_1_2">
                                                    <div class="grafico-ind" id="escolaridad-mujer" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Promedio de miembros que dependen del afiliado</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="dependen" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Acceso a internet de los afiliados</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="internet" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Estado civil</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="estado-civil" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
Highcharts.chart('escolaridad-mujer', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Porcentajes',
        colorByPoint: true,
        data: [
        {% for k,v in escolaridad_mujer.items %}
        {
            name: '{{k}} ({{v|default:"0"}})',
            y: {{v|default:"0"}}
        },
        {% endfor %}]
    }]
});


Highcharts.chart('escolaridad-hombre', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Porcentajes',
        colorByPoint: true,
        data: [
        {% for k,v in escolaridad_hombre.items %}
        {
            name: '{{k}} ({{v|default:"0"}})',
            y: {{v|default:"0"}}
        },
        {% endfor %}]
    }]
});

Highcharts.chart('dependen', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Porcentajes',
        colorByPoint: true,
        data: [
        {% for k,v in personas_dependen.items %}
        {
            name: '{{k}} ({{v|default:"0"}})',
            y: {{v|default:"0"}}
        },
        {% endfor %}]
    }]
});

Highcharts.chart('internet', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Porcentajes',
        colorByPoint: true,
        data: [

        {% for k,v in internet.items %}
            {
                name: '{{k}} ({{v|default:"0"}})',
                y: {{v|default:"0"}}
            },
        {% endfor %}
        ]
    }]
});

Highcharts.chart('estado-civil', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Porcentajes',
        colorByPoint: true,
        data: [

        {% for k,v in estado_civil.items %}
            {
                name: '{{k}} ({{v|default:"0"}})',
                y: {{v|default:"0"}}
            },
        {% endfor %}
        ]
    }]
});
</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.general" ).addClass( "active" );
</script>
{% endblock extra_js %}