
<ul class="list-inline list-filtro">
	{% if request.session.anio %}
		<li>
			<i class="fa fa-calendar"></i>
			<b>Año:</b> {{request.session.anio}}
		</li>
	{% endif %}
	{% if request.session.sexo %}
		<li>
			<b>Sexo:</b> {{request.session.sexo}}
		</li>
	{% else %}
	<li>
		<b>Sexo:</b> Ambos
	</li>
	{% endif %}
	{% if request.session.municipio %}
		<li>
			<b>Municipios:</b> {% for x in request.session.municipio %}{{x.nombre}}, {% endfor %}	
		</li>
	{% endif %}
	{% if request.session.comunidad %}
		<li>
			<b>Comunidades:</b> {% for x in request.session.comunidad %}{{x.nombre}}, {% endfor %}
		</li>
	{% endif %}
	{% if request.session.edad_inicio and request.session.edad_fin %}
		<li>
			<b>Rango de edad:</b> {{request.session.edad_inicio}} - {{request.session.edad_fin}}
		</li>

	{% endif %}
		
		
	
</ul>





