<div class="btn-group btn-theme-panel">
	<a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-bars"></i> Indicadores
	</a>
	<div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Indicadores</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color">
                                <a href="/datos-generales/">Generales</a>
                            </li>
                            <li class="theme-color">
                                <a href="/datos-familiares/">Familiares</a>
                            </li>
                            <li class="theme-color">
                                <a href="/datos-propiedad/">Propiedad</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color">
                                <a href="/datos-produccion/">Producción</a>
                            </li>
                            <li class="theme-color">
                                <a href="/organizacion/">Organización</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>