<!-- BEGIN THEME PANEL -->
	<div class="portlet-title tabbable-line">	
						
		<ul class="nav nav-tabs ind-link">
			<li class="general active">
				<a href="/afiliados/datos-personales/">Personales</a>
			</li>
			<li class="familia">
				<a href="/afiliados/datos-familiares/">Familiares</a>
			</li>
			<li class="propiedad">
				<a href="/afiliados/propiedad/">Propiedad</a>
			</li>
			<li class="produccion">
				<a href="/afiliados/produccion/">Producción</a>
			</li>
			<li class="org">
				<a href="/afiliados/organizacion/">Organización</a>
			</li>
		</ul>
	</div>
<!-- END THEME PANEL -->