
<div class="portlet-title tabbable-line">	
														
	<ul class="nav nav-tabs ind-link">
		<li class="general active">
			<a href="/datos-generales/">Generales</a>
		</li>
		<li class="familia">
			<a href="/datos-familiares/">Familiares</a>
		</li>
		<li class="propiedad">
			<a href="/datos-propiedad/">Propiedad</a>
		</li>
		<li class="produccion">
			<a href="/datos-produccion/">Producción</a>
		</li>
		<li class="org">
			<a href="/organizacion/">Organización</a>
		</li>
	</ul>
</div>