<div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3>Indicadores</h3>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ul class="theme-colors">
						<li class="theme-color"><a href="/datos-generales/">Datos Generales</a></li>
						<li class="theme-color"><a href="/datos-familiares/">Datos Familiares</a></li>
						<li class="theme-color"><a href="/datos-propiedad/">Datos de la Propiedad</a></li>
						

					</ul>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ul class="theme-colors">
						<li class="theme-color"><a href="/datos-produccion/">Datos de Producción</a></li>
						<li class="theme-color"><a href="/organizacion/">Datos de la Organización</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>