{% extends "frontend/base.html" %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Datos de los Afiliados
                                    <!-- <small>dashboard & statistics</small> -->
                                </h1>
                                
                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "frontend/filtros_tablas.html" %}
                        </div>
                    </div>
                    
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Datos afiliafos</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <a href="" onclick="exportarXLS('export'); return false;">
                                            Descargar
                                        </a>
                                        <div class="table-responsive" id="export">
                                            <table class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%" id="tabla">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Fecha de nacimiento</th>
                                                        <th>Cédula</th>
                                                        <th>Sexo</th>
                                                        <th>Estado civil</th>
                                                        <th>Ingreso UNAG</th>
                                                        <th>Escolaridad</th>
                                                        <th>Lugar de Nacimiento</th>
                                                        <th>Departamento</th>
                                                        <th>Municipio</th>
                                                        <th>Comunidad</th>
                                                        <th>Teléfono</th>
                                                        <th>Acceso a internet</th>
                                                    </tr>   
                                                </thead>
                                                <tbody>
                                                    {% for obj in lista %}
                                                        <tr>
                                                            <td>{{obj.0}}</td>
                                                            <td>{{obj.1}} ({{obj.2}})</td>
                                                            <td>{{obj.3}}</td>
                                                            <td>{{obj.4}}</td>
                                                            <td>{{obj.5}}</td>
                                                            <td>{{obj.6|default:'---'}}</td>
                                                            <td>{{obj.7|default:'---'}}</td>
                                                            <td>{{obj.8}}</td>
                                                            <td>{{obj.9}}</td>
                                                            <td>{{obj.10}}</td>
                                                            <td>{{obj.11|default:'---'}}</td>
                                                            <td>{{obj.12|default:'---'}}</td>
                                                            <td>{{obj.13|default:'---'}}</td>
                                                         
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.familia" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.familia" ).addClass( "active" );
</script>
{% endblock extra_js %}

